---
layout: default
title: Photography
permalink: /photography/
---

<p>
<a href="{{ site.baseurl }}/">All</a> |
<a href="{{ site.baseurl }}/side">Side Projects</a> |
<a href="{{ site.baseurl }}/cleanenergy">Clean Energy</a> |
<a href="{{ site.baseurl }}/software">Software</a>
</p>

<div class="posts">
  <h1>Photography</h1>
  {% for post in site.posts %}
  	{% if post.category == "photo" %}
      <article class="post">    
        
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {{ post.content | truncatewords:40}}
        </div>
        
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>